<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="dto" type="com.it.common.metatype.impl.BaseDto"/>
	</typeAliases>
	
    <!-- <plugins>
    	<plugin interceptor="com.it.mybatis.mapperhelper.MapperInterceptor"></plugin>
    </plugins> -->

    <!-- <mappers>
        <mapper resource="com/it/mybatis/menuMapper.xml"/>
    </mappers> -->
    
</configuration>